body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Busca una pixel font luego */
    color: white;
}

.bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6); /* Oscurece un poco para que resalte el texto */
    position: absolute;
    z-index: -1;
}

.menu-ui {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

h1 {
    font-size: 4rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.menu-btn {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 0;
}

.menu-btn:hover {
    color: white;
    padding-left: 20px; /* Efecto de desplazamiento lateral */
    text-shadow: 0 0 10px white;
}

.footer {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 0.8rem;
    opacity: 0.5;
}
